.homepage-slides4 {background-image: url(../img/Homepage-bg-4.jpg)}
.header-area i {
	font-size: 20px;
    padding: 12px 0;
}
body, html {
  height: 100%;
}
.homepage-slides4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ddd;
    height: 100%;
}
.single-slide-item {
  display: table;
  width: 100%;
  height: 100%;
}
.single-item-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  color: #fff;
}
.slide-content h2 {
  font-size: 44px;
  color: #fff;
  line-height: 55px;
  font-weight: 700;
}
.off-canvas-menu {
  position: fixed;
  background: #fff;
  height: 100%;
  width: 300px;
  z-index: 999;
    padding: 40px;
    left: -300px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.off-canvas-menu.show-offcanvas-menu {
    opacity: 1;
    visibility: visible;
    left: 0;
}
.menu-close {
  position: absolute;
  right: 11px;
  font-size: 18px;
  color: #333;
  top: 8%;
}
.menu-close i {
  margin-right: 6px;
}
.off-canvas-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.off-canvas-menu li {
  line-height: 36px;
}
.off-canvas-menu .social-links ul li {
  width: 40%;
}
.off-canvas-menu, .social-links h4 {
  margin: 0 0 20px;
}
.off-canvas-menu .social-links {
  margin: 100px 0 0;
}
.off-canvas-menu ul, .social-links {
  margin: 0;
}
.off-canvas-menu, .logo, .menu-close {
	margin-bottom: 60px;
}

.header-absoulte {
    position: absolute;
    width: 100%;
    z-index: 99;
}
.header-absoulte .mainmenu li a {
  color: #fff;
    transition: .3s;
}
.header-absoulte .mainmenu li a:hover {
    color: #06d6a0;
}

.website-check-box input {
  background: #073b4c;
  border: #073b4c;
    width: 27%;
	margin-right: 15px;
}
.website-check-box input[type="submit"] {
  background: #06d6a0;
  width: 12%;
  margin-right: 0;
}
input[type="password"], input[type="button"], input[type="text"], input[type="url"], text-area, input[type="email"] {
    border: 1px solid #ddd;
    padding: 15px;
}
.boxed-btn, input[type="submit"], button[type="submit"] {
  background: #ef476f none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 13px 29px;
  transition: all 0.3s ease 0s;
}
.hero-area {
    padding: 155px 0;
    border-bottom: 1px solid #F6F6F6;
}
.hero-area h1 {
    font-size: 40px;
}
input[type="submit"], button[type="submit"] {
    border: medium none;
    font-size: 14px;
    padding: 16px 30px;
}
.website-cheker-form {
    margin-top: 30px;
}
    